/*Overview*/
html {scroll-behavior: smooth;}
body {margin: 0 auto; width: 100%; font-family: 'Roboto'; font-size: 1rem; color: #33393b; background-color: #f1f0e2;}
.container {width: 100%; margin: 0 auto; padding-top: 4.6%;}
h1 {font-family: 'Roboto Slab'; color: #33393b; font-size: 3rem; font-weight: 400; margin-bottom: 5%;padding-top: 3%;} 
h2 {font-family: 'Roboto Slab'; color: #33393b; font-size: 2.5rem;}
a {text-decoration: none !important;}
a {text-decoration: none;}
a:hover {text-decoration: none; color: #133955 !important;}
a:visited {color: #888;}
hr {width: 80%; border-top: 5px dotted #ccb38d !important;}
p {line-height: 1.5rem;}
img {margin-bottom: 1rem; width: 100%;}
iframe {margin-bottom: .55rem; width: 100%;}



   /* Navigation stuff */
.customNav {position: fixed; width: 100%; background-color: #133955 !important; z-index: 10;}
.navbar-brand {font-family: 'Roboto Slab';font-size: 1.4em;}
.navbar-brand img {padding-right: 15px;width: 65px;}
.navbar-nav {margin-left: auto; margin-right: 0 !important;}
.navbar-light .navbar-toggler-icon{ background-image: url('../images/menu.png');}
.navbar-toggler:hover {background-color: #fca289;}
.nav-item {margin: 0px 2em;}
.nav-item img {width: auto; padding-right: .5em;}
.icon {width: 48px;border: none;}
.dropdown-menu { background-color: #133955 !important; color: #f1f0e2 !important; align-items: center;}
.dropdown-menu img {padding-right: .75em; height: 23px; width: auto;}
.dropdown-item:focus, .dropdown-item:hover {color: #133955 !important; text-decoration: none; background: #fca289;}
.customNav a {color: #f1f0e2 !important;}

/*Jumbotron*/
.jumbotron-fluid {padding-top: 5rem; background-image: url("../images/worktools.png")!important; background-size: cover !important; background-position: left !important; text-align: center; color: #f1f0e2; height: 820px;}
.display-4 {color: #f1f0e2; margin-top: 10%; margin-bottom: 1%; padding-top: 0px;}
.jumbotron .row {padding-top: 2rem;}
.jumbotron .col-3 {text-align: center; font-size: .875rem; font-weight: lighter; line-height: normal;}

/* Intro Section */
.failures {margin-top: 3%;}

/*Challenge section/


/*Discover Section*/
.methodology img{border: #33393b solid 1px;}
.heuristics2 img {margin-bottom: 4.8% !important;}
.card-img-top {padding: 5%;}
.card-title {margin-top: -10%;}
.text-muted {color: #f1f0e2 !important;}
.phillip, .taki {background-color: #555; color: #f1f0e2; text-align: center;}
.ellenSue, .jada {background-color: #888888; color: #f1f0e2; text-align: center;}
#discover .row {margin-bottom: 4%;}
.row .card-group {margin-bottom: -1.3%;}

/*Define Section*/
#define .display-4 {margin-top: 3%; padding-top: 0%;}
.definition {background-image: url("../images/detour.png") !important; background-size: cover !important; min-height: 500px; background-position: center; text-align: center; color: #f1f0e2;}
.definition .container {border: 1px solid #f1f0e2 !important; border-radius: 2%; max-width: 75%; line-height: 1.5rem !important;}

/*Deliver Section*/
.iconography .row {padding-bottom: 5.5%;}

/*Epilgue Section*/
#epilogue {padding-bottom: 20%;}

/*Footer Section*/
.fixed-bottom a {font-family: 'Roboto'; font-size: 1em;}


/*Media Queries*/

    /*Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575.98px) {
        h1 {font-size: 2.5rem !important;}
        .display-4 {margin-top: 25%;}
        hr {width: 95%;}
        .giphy-embed {width: 440px !important; height: 220px !important;}
        .noIcons {display: none !important;}
        .jtbd {margin-bottom: 5% !important;}
        .card {display: none !important;}
    }
    
        /*Small devices (landscape phones, 576px and up*/
    @media (min-width: 576px) and (max-width: 767.98px) {
        .noIcons {display: none !important;}
        .jtbd {margin-bottom: 5% !important;}
    }
    
        /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        .noIcons {display: none !important;}
        .jtbd {margin-bottom: 5% !important;}
    }
    
        /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .giphy-embed {width: 480px !important; height: 240px !important; padding-right: 12px !important;}
        .filler {display: none;}
    }
    
        /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {}