html {
    scroll-behavior: smooth;
  }
body {
    margin: 0 auto;
    width: 100%; 
    font-family: 'Roboto';
    font-size: 1rem;
    color: #33393b;
    background-color: #f1f0e2;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 4.6%;
}
h1 {
    font-family: 'Roboto Slab'; 
    color: #33393b; 
    font-size: 3rem; 
    font-weight: 400; 
    margin-bottom: 1%;
} 
h2 {
    font-family: 'Roboto Slab'; 
    color: #33393b; 
    font-size: 2.5rem; 
}
p {line-height: 1.5rem;}
.icon {
    width: 48px;
    border: none;
}

   /* Navigation stuff */
   .customNav {
    position: fixed;
    width: 100%;
    background-color: #133955 !important;
    z-index: 10;
    }

.navbar-brand {
font-family: 'Roboto Slab';
font-size: 1.6em;
}
.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}
.navbar-light .navbar-toggler-icon{
background-image: url('../images/menu.png');
}
.nav-item {
    margin: 0px 2em;
}
.nav-item img {
height: 23px;
width: auto;
padding-right: .75em;}
.dropdown-menu {
    background-color: #133955 !important;
    color: #f1f0e2 !important;
    align-items: center;
}
.dropdown-menu img {
    padding-right: .75em;
    height: 23px;
    width: auto;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #133955 !important;
    text-decoration: none;
    background: #fca289;
          }
.customNav a {
color: #f1f0e2 !important;
}

/* Intro Section */
#intro .card {
    width: 100%;
    height: 660px;
    margin-bottom: 20px;
}
#intro img:hover {
    background-image: url("images/homeUXUI.png");
}
#intro h1 {
    padding: 0px;
}
#intro .col-4 {
    padding-left: 2%;
}
#intro .icon {
    padding-bottom: 7%;
}
#intro .col-3 {
    text-align: center;
    font-size: .875rem;
    line-height: normal;
}
.usdol {
    background-color: #888;
    color: #f1f0e2;
    padding: 2%;
}
.logo {
    padding-bottom: 10%;
}


/*Discover Section*/
#discover {
    border-bottom: 0px transparent;
}
img {
    width: 100%;
}
#heuristics {
    margin-bottom: 2%;
}
#interviews img {
    padding: 10% 0;
}
#interviews h5 {
    text-align: center;
    color: #33393b;
}

footer {
    width: 100%; 
    height: 48px; 
    background-color: #133955; 
    color: #f1f0e2;}
footer li {color: #f1f0e2; 
    display: inline;}