html {
    scroll-behavior: smooth;
  }
body {
    margin: 0 auto;
    width: 100%; 
    font-family: 'Roboto'; 
    color: #33393b;
    background-color: #f1f0e2;}
.container-fluid {
    display: flex;
    width: 100%;
    margin: 10% auto;
    margin-bottom: 1%;}
.container {margin: 0 auto;}
h1 {
    font-family: 'Roboto Slab'; 
        color: #33393b; 
        font-size: 48px; 
        font-weight: 400; 
        margin-bottom: 1%;} 
p {line-height: 1.5em;}
.icon {
    width: 48px;
    border: none;
}

   /* Navigation stuff */
   .customNav {
    position: fixed;
    width: 100%;
    background-color: #133955 !important;
    z-index: 10;
    }
.navbar-nav {
        margin-left: auto;
        margin-right: 0 !important;
        }
.navbar-brand {
font-family: 'Roboto Slab';
font-size: 1.6em;
}
.navbar-brand img {
            padding-right: 15px;
            width: 65px;
          }
.navbar-light .navbar-toggler-icon{
background-image: url('../images/menu.png');
}
.nav-item {
            margin: 0px 2.4em;
          }
.nav-item img {
height: 23px;
width: auto;
padding-right: .75em;}
.dropdown-menu {
background-color: #133955 !important;
color: #f1f0e2 !important;
align-items: center;
}
.dropdown-menu img {
padding-right: .75em;
height: 23px;
width: auto;}
.dropdown-item:focus, .dropdown-item:hover {
color: #133955 !important;
    text-decoration: none;
    background: #fca289;
          }
.customNav a {
color: #f1f0e2 !important;}

/* Intro stuff */
#intro .container {
    padding: 10% 1%;
}
#intro img:hover {
    background-image: url("images/homeUXUI.png");
}